beautifulsoup4
chromadb
customtkinter
edge-tts
google-api-python-client
google-auth-oauthlib
newsapi-python
ollama
pillow
playwright
protobuf
psutil
PyAutoGUI
PyGetWindow
pyperclip
pystray
pyttsx3
pywin32
requests
screen-brightness-control
SpeechRecognition
vosk
wikipedia
